/* TOP HEADER */

.navbar {
	background: #028086;
	margin-bottom: 0;
}
.navbar-header {
	width: 320px;
	margin: 18px 0 15px 100px;
	float: left;
	cursor: pointer;
}
.navbar-header img {
	width: 25px;
	float: left;
	margin: 0 8px 0 1px;
}
.navbar-header h1 {
	float: left;
	margin: -1px 0 0 0;
	color: white;
	font-size: 2em;
	font-weight: bold;
	font-family:'Gilda Display', serif;
}
.searchBar {
	width: 235px;
	position: relative;
	margin: 18px 0 0 30px;
	padding: 0;
}
.navbar input[type="text"] {
	background: none;
	border: none;
	border-bottom: 1px solid white;
	color: white;
	width: 234px;
	height: 30px;
	padding: 0 10px;
	font-size: 1em;
	margin: 0;
	outline: none;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #e4e4e4;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #e4e4e4;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #e4e4e4;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #e4e4e4;
}

.searchButton {
	position: absolute;
	right: 1px;
	top: 1px;
	width: 32px;
	height: 28px;
	cursor: pointer;
}
.navbar input[type="image"] {
	width: 15px;
	margin: 6px 0 0 8px;
}
.menu {
	float: right;
	width: 115px;
	margin-top: 23px;
}
.menu a {
	color: white;
	text-decoration: none;
}
.menu a:hover {
	border-bottom: 1px solid white;
	padding-bottom: 6px;
}

/* CAROUSEL */
.explanation {
	position: absolute;
	font-size: 20px;
	z-index: 10;
	margin-top: 40px;
	background: rgba(0, 0, 0, 0.45);
	padding: 15px;
	color: #FFF;
	text-align: center;
	border-radius: 5px;
}

.carousel-caption {
	font-family:'Gilda Display', serif;
}
.carousel-caption h1 {
	font-size: 50px;
}

.carousel-indicators li {
	display: none;
}
.slide {
	height:92vh;
}
.slide img {
	width: 200%;
    position: absolute;
    top: -80px;
}


/* TABLE IN COUNTRIES */
table {
	margin-top: 30px;
}
table tr:last-child {
	border-bottom: 1px solid #808080;
}
table thead {
	font-family:'Gilda Display', serif;
	font-size: 1.1em;
}
.table-hover>tbody>tr:hover {
	background-color: #E3F3F4;
	cursor: pointer;
}
.searchResult {
	margin-top: 20px;
	height: 20px;
}



/* COUNTRY VIEW */
.country {
	margin-top: 60px;
}
.images img {
	max-width: 200px;
	margin: 40px auto;
}
.country h1 {
	font-family:'Gilda Display', serif;
	font-size: 55px;
	display: inline-block;
	margin: 13px 0;
}

.left-col {
	width: 200px;
}

.neighbor { margin-right: 15px; }


/* ANIMATIONS */
.loading {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 0px;
	z-index: 1000;
	width: 119px;
	background: #FFF;
	padding: 8px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
.loading img {
	float: left;
	margin-left: 3px;
}
.loading p {
	margin: 2px 0 0 36px;
	color: #027B81;
}